RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(css|js|jpe?g|gif|png|js|ico)$ [NC]
RewriteRule ^([^/]*)$ index.php?page=$1&action=index [QSA,L]
RewriteRule ^([^/]*)/$ index.php?page=$1&action=index [QSA,L]
RewriteRule ^([^/]*)/([^/]*)$ index.php?page=$1&action=$2 [QSA,L]
RewriteRule ^([^/]*)/([^/]*)/$ index.php?page=$1&action=$2 [QSA,L]
